[Unit]
Description=Share local port(s) with ngrok
After=syslog.target network.target

[Service]
PrivateTmp=true
Type=simple
Restart=always
RestartSec=1min
StandardOutput=null
StandardError=null
ExecStart=/opt/ngrok/ngrok start --log /opt/ngrok/ngrok.log --config /opt/ngrok/ngrok.conf %i
ExecStop=/usr/bin/killall ngrok

[Install]
WantedBy=multi-user.target


